In [2]:

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.linear_model import Ridge, BayesianRidge
from sklearn.ensemble import RandomForestRegressor

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pickle
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("dataset.csv")
data.head()

,City,Locality,Area,Type,BHK,Furnished,Distance_from_Metro,Price
0,hyderabad,dilsukhnagar,1200,0,2,2,2.0,45
1,hyderabad,dilsukhnagar,592,0,2,2,0.1,27
2,hyderabad,dilsukhnagar,1500,0,3,0,2.0,93
3,hyderabad,dilsukhnagar,1200,0,3,2,0.1,60
4,hyderabad,dilsukhnagar,1440,0,3,0,0.1,85

In [4]:
#City Code for Hyderabad as 0
df  = data.copy()
all_cities = df['City'].unique()

count = 0
for city in all_cities:
    print(city, ":", count)
    df.loc[df['City'] == city, 'City'] = count
    count += 1

df.head()

hyderabad : 0
banglore : 1

  City      Locality  Area  Type  BHK  Furnished  Distance_from_Metro  Price
0    0  dilsukhnagar  1200     0    2          2                  2.0     45
1    0  dilsukhnagar   592     0    2          2                  0.1     27
2    0  dilsukhnagar  1500     0    3          0                  2.0     93
3    0  dilsukhnagar  1200     0    3          2                  0.1     60
4    0  dilsukhnagar  1440     0    3          0                  0.1     85

In [5]:

all_locations = df['Locality'].unique()

count = 0
for locality in all_locations:
    print(locality, ":", count)
    df.loc[df['Locality'] == locality, 'Locality'] = count
    count += 1

df.head()

dilsukhnagar : 0
kukatpally : 1
indira nagar : 2
jayanagar : 3

  City Locality  Area  Type  BHK  Furnished  Distance_from_Metro  Price
0    0        0  1200     0    2          2                  2.0     45
1    0        0   592     0    2          2                  0.1     27
2    0        0  1500     0    3          0                  2.0     93
3    0        0  1200     0    3          2                  0.1     60
4    0        0  1440     0    3          0                  0.1     85

In [6]:
print(df)

   City Locality  Area  Type  BHK  Furnished  Distance_from_Metro  Price
0     0        0  1200     0    2          2                  2.0     45
1     0        0   592     0    2          2                  0.1     27
2     0        0  1500     0    3          0                  2.0     93
3     0        0  1200     0    3          2                  0.1     60
4     0        0  1440     0    3          0                  0.1     85
5     0        0  1300     0    3          1                  0.7     66
6     0        0   750     0    1          2                  0.1     30
7     0        0  1000     0    2          0                  0.5     60
8     0        0   700     0    2          0                  2.5     22
9     0        0  2500     1    3          1                  0.2    165
10    0        0  5000     1    7          1                  0.0    360
11    0        0   800     1    2          1                  0.2     95
12    0        0  2000     1    3          0                  1.5     87
13    0        0  1773     1    3          0                  3.0    216
14    0        1  1100     0    2          0                  1.5     70
15    0        1  1075     0    2          0                  1.0     65
16    0        1  1570     0    3          0                  1.0     81
17    0        1  1015     0    2          1                  0.1     42
18    0        1  1000     0    2          1                  1.0     45
19    0        1  1155     0    2          0                  0.1     80
20    0        1  1200     0    2          1                  0.5     60
21    0        1  1660     0    3          2                  1.0     88
22    0        1  1179     0    3          2                  1.0     92
23    0        1  1535     0    3          2                  2.0     95
24    0        1  2100     1    3          1                  1.2     98
25    0        1  2300     1    3          0                  1.2    140
26    0        1  2950     1    4          1                  0.1    650
27    0        1  2940     1    4          1                  0.1    625
28    0        1  2000     1    4          1                  0.5    325
29    1        2  1300     0    3          2                  0.2    140
30    1        2  5400     1    6          1                  1.0    216
31    1        2  2500     1    4          1                  0.5    660
32    1        2  1170     0    2          2                  0.1     95
33    1        2  2159     0    3          1                  0.2    200
34    1        2  1800     0    4          1                  0.2    375
35    1        2  2785     0    4          2                  0.1    410
36    1        2  1250     0    3          0                  0.0     61
37    1        2  1630     0    3          0                  0.8    228
38    1        2  1780     0    3          1                  0.8    140
39    1        2  1100     0    2          1                  1.0    120
40    1        2  3000     0    4          1                  0.8    650
41    1        2  2400     1    4          2                  0.5    300
42    1        2  1550     0    3          1                  1.0    130
43    1        2  4850     1    4          0                  0.2   1000
44    1        3  1025     0    2          1                  0.4    135
45    1        3  1906     0    3          1                  0.6    200
46    1        3  5000     0    4          0                  1.2    945
47    1        3  1950     0    3          0                  0.8    195
48    1        3  2100     0    3          0                  0.8    275
49    1        3  1956     0    3          1                  1.0    235
50    1        3  1655     0    3          0                  1.0    149
51    1        3  3000     0    4          1                  0.2    330
52    1        3  3000     1    3          1                  1.0    545
53    1        3  1000     0    2          0                  0.5     41
54    1        3  1222     0    2          1                  0.1     87
55    1        3  1684     0    3          1                  1.0    210
56    1        3  1539     0    3          0                  1.0    150
57    1        3  3150     0    3          0                  0.1    419
58    1        3  2162     0    3          0                  0.4    308

In [7]:

label_data = pd.DataFrame(df['Price'].copy())


train_data = df.drop(columns=['Price'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(train_data, label_data, test_size=0.1, random_state=42)

In [9]:
print("Training Model R Regressor")
# define model

model = RandomForestRegressor()

# fit model
model.fit(X_train, y_train)

print("Model Training Done")
# make a prediction
y_pred = model.predict(X_test)

print("Y Test:", y_test)
print("Y Pred:",y_pred)

mse = mean_squared_error(y_test, y_pred, multioutput='raw_values')
print("BRR MSE:", mse)

Training Model Random Forest Regressor

C:\Users\Pavan\AppData\Local\Temp\ipykernel_10516\2551520721.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

Model Training Done
Y Test:     Price
0      45
5      66
34    375
13    216
45    200
53     41
Y Pred: [ 72.19  78.33 267.13  96.19 216.22 116.  ]
BRR MSE: [5461.63106667]

In [10]:
print("Training Model Random Forest Regressor")
# define model

model = BayesianRidge()

# fit model
model.fit(X_train, y_train)

print("Model Training Done")
# make a prediction
y_pred = model.predict(X_test)

print("Y Test:", y_test)
print("Y Pred:",y_pred)

mse = mean_squared_error(y_test, y_pred, multioutput='raw_values')
print("BRR MSE:", mse, sum(mse))

Training Model Random Forest Regressor

C:\Users\Pavan\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Model Training Done
Y Test:     Price
0      45
5      66
34    375
13    216
45    200
53     41
Y Pred: [106.40668542 121.86182993 199.14261195 194.96343591 215.52836916
  75.50587989]
BRR MSE: [6615.24483584] 6615.24483584206

In [11]:
def predict_price(inp):
    # inp = [0,1,1600,0,3,2,1] 0, (0,1), sft,type,bhk, furnished,distnce
    inp = pd.DataFrame([inp])
    inp.head()
    op = model.predict(inp)

    print(op)

In [12]:
predict_price([0,1,1600,0,3,2,1])

[168.22932265]

C:\Users\Pavan\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but BayesianRidge was fitted with feature names
  warnings.warn(